*{
	padding: 0;
	margin: 0;
	border: 0px none;
	
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
html, body{
	width: 100%;
	height: 100%;
}
body{
	background-color: #666;
	color: #fff;
	font-family: "Lucida Sans Unicode", "Lucida Grande", verdana, sans-serif;
	font-size: 12px;
	letter-spacing: 1.1px;
	overflow-x: auto !important;
	min-width: 880px;
	position: relative;
	
}
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    height: 10px;
    width: 10px;
	 background: rgba(0,0,0,0.5);
   /* -webkit-border-radius: 3px;*/
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
    height: 8px;
    width: 8px;
	border: solid 1px rgba(0,0,0,0.5);
	background: rgba(0,0,0,0.5);
}
::-webkit-scrollbar-corner {
	background: transparent;
}

::-webkit-scrollbar-track {
	border: solid transparent;
}


::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}

::-webkit-scrollbar-corner {
    background: #000;
}

.hidden{
	display: none;
}

.ui-handle-h, .ui-handle-v{
	z-index: 2;
}
.ui-seperator{
	z-index: 1;
}

.ui-handle-h, .ui-handle-v, .ui-seperator{
	border: 1px solid #333;
	background-color: #444;
}
.ui-holder:hover .ui-handle-h, .ui-holder:hover .ui-handle-v, .ui-holder:hover .ui-seperator{
	/*opacity: 0.9;*/
}
.ui-panel{
	margin: 2px 0 0 2px;
}

.ui-panel-header{
	line-height: 25px;
	background-color: rgba(255, 255, 255, 0.15);
	padding: 0 0 0 5px;
	box-shadow: 0 3px 3px rgba(50,50,50,0.7);
}

.ui-panel.top{
	margin: 0;
	padding: 0;
}


.ui-handle-h{
	cursor: ew-resize;
}
.ui-handle-v{
	cursor: ns-resize;
}
.ui-seperator{
	cursor: ns-resize;
}

.ui-holder.top{
	text-align: center;
	background-color: rgba(0, 0, 0, 0.25) !important;
	border-top: 1px solid rgba(255,255,255,0.1) !important;
	border-bottom: 1px solid rgba(0,0,0,0.4) !important;
	margin: 0 0 1px 0;
}
.ui-holder.left{
	background-color: rgba(0, 0, 0, 0.25);
	border-right: 1px solid rgba(0,0,0,0.2);
}




.ui-treeView{
	border-top: 1px solid rgba(0,0,0,0.2);
	font-family: arial,sans-serif;
	font-size: 12px;
}
.ui-treeView > *{
	background-color: rgba(0,0,0,0.1) !important;
}

.ui-treeView-folder, .ui-treeView-item{
	line-height: 25px;
	cursor: pointer;
}

.ui-treeView-folder{
	border-top: 1px solid rgba(255,255,255,0.1);
	
	background-color: rgba(255,255,255,0.1);
	background-repeat: no-repeat;
}

.ui-treeView-folder.close > .ui-treeView-folder-head{
	/*border-bottom: solid 1px rgba(0,0,0,0.3);*/
}

.ui-treeView-folder.close{
	background-image: url(../img/icons/folder_closed.png);
	background-position: 6px 8px;
	border-bottom: solid 1px rgba(0,0,0,0.3);
	
}
.ui-treeView-folder.open > .ui-treeView-folder-head{
	/*box-shadow: 0 3px 3px rgba(0,0,0,0.5);*/
}
.ui-treeView-folder.open{
	background-image: url(../img/icons/folder_open.png);
	background-position: 4px 11px;
}

div.ui-treeview-folder.open > div:nth-child(2){
	box-shadow: inset 0px 13px 4px -12px rgba(0,0,0,0.4);
	border-top: solid 1px rgba(0,0,0,0.4);
}

div.ui-treeview-folder.open > div.ui-treeView-item:last-child, div.ui-treeview-folder.open > div.ui-treeView-folder:last-child{
	box-shadow: inset 0px -13px 4px -12px rgba(0,0,0,0.4);
}

div.ui-treeview-folder.open > div:nth-child(2):last-child{
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.4);
}
div.ui-treeview-folder.open > .ui-treeView-folder-head:last-child{
	padding-bottom: 1px;
	border-bottom: solid 8px rgba(255,255,255,0.1);
	border-left: solid 1px rgba(0,0,0,0.4);
	margin-left: -1px;
}
div.ui-treeview-folder.open > .ui-treeView-folder-head:last-child > div{
	border-bottom: solid 1px rgba(0,0,0,0.4);
}
.ui-treeView-item{
	
	border-top: 1px solid rgba(255,255,255,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.3);
	background-color: rgba(255,255,255,0.1);
}

/*.ui-treeview-folder > .ui-treeView-item{
	padding-left: 15px;
}*/

/*
.ui-treeView-item:last-child{
	box-shadow: inset 0 -20px 10px -20px rgba(0,0,0,0.8);
}
*/
.ui-treeView-item.active{
	background-color: rgba(0,0,0,0.5);
}

.ui-treeview-item.selected, .ui-treeView.active {
	background-color: rgba(0,0,0,0.3) !important;
	border-top: solid 1px rgba(0,0,0,0.4);
	margin-top: -1px;
	padding-top: 1px;
}
.ui-treeview-item.active{
	font-weight: bold;
}
.ui-treeview-item-head  *, .ui-wrap{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


.ui-treeview-folder.selected > .ui-treeView-folder-head, .ui-treeview-folder.active > .ui-treeView-folder-head{
	background-color: rgba(0,0,0,0.3);
}
.ui-treeview-folder.active > .ui-treeView-folder-head{
	font-weight: bold;
}


.ui-treeView-item img{
	position: absolute;
	top: 3px;
	max-width: 20px;
	max-height: 20px;
	left: 2px;
}

.ui-treeView > .show-hide-enabled{
	margin-left: 30px;
}

.ui-treeView .show-hide{
	width: 29px;
	background: url("../img/icons/eye.png") no-repeat 4px 50%;
	left: -29px !important;
	background-clip: content-box;
	padding: 0 5px 0 1px;
	border-right: solid 1px #333;
	height: 27px;
	margin-top: -1px;
	border-bottom: solid 1px rgba(0,0,0,0.4);
	border-top: solid 1px rgba(255,255,255,0.1);
}


.ui-treeView .show-hide.hidden{
	background-position: -16px 50%;
	padding: 0 5px 0 2px;
	display: block;
}

.ui-treeView .lock{
	width: 18px;
	background: url("../img/icons/lock.png") no-repeat -15px 50%;
	left: auto !important;
	background-clip: content-box;
	padding: 0 3px 0 0px;
	height: 27px;
	margin-top: -1px;
}


.ui-treeView .lock.locked{
	background-position: 0px 50%;
}


.ui-button{
	cursor: pointer;
	height: 27px;
}

.ui-panel.top .ui-button.logo{
	border-right: 1px solid rgba(255,255,255,0.1);
	background: url("../img/icons/logo.png")  no-repeat 26px 2px;
	background-color: #4d4d4d;
}


.ui-panel.top .ui-button{
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #ebebeb;
	font-weight: bold;
	letter-spacing: 0;
	display: block;
	border-right: 1px solid rgba(255,255,255,0.1);
	line-height: 27px
}

.ui-button.ui-options{
	background: url("../img/icons/gear.png")  no-repeat;
	top: 1px !important;
	width: 39px !important;
}
.ui-button.ui-options.selected{
	background-position: -38px 0;
}

.settings-list{
	margin-right: 39px;
}

.ui-list-button{
	height: 24px;
	line-height: 24px;
	background-color: rgba(75,75,75,0.9);
	color: #eee;
	padding: 0 25px;
	border-bottom: solid 1px rgba(50,50,50,0.9);
	border-top: solid 1px rgba(255,255,255,0.4);
	border-right: solid 1px rgba(0,0,0,0.3);
}
.ui-list-button:hover{
	background-color: rgba(0,0,0,0.9);
	color: #fff;
}

div.ui-input{
	margin: 9px 5px -6px 7px;
	border-bottom: dashed 1px rgba(255,255,255,0.1);
	text-indent: 3px;
}
div.ui-input .ui-input-value{
	cursor:ns-resize;
	padding: 0 10px 0 0;
	font-weight: bold;
	min-width: 50px;
	text-align: right;
	max-width: 50%;
	overflow: hidden;
	white-space: nowrap;
	min-height: 100%;
}

input.ui-input, textarea.ui-input{
	position: absolute;
	width: 180px;
	height: 23px;
	margin-top: 5px;
	margin-left: 25px;
	border: none;
	outline: none;
	background: none;
	user-select: text;
	-webkit-user-select: all !important;
	z-index: 99;
	color: #fff;
	font-family: "Lucida Sans Unicode", "Lucida Grande", verdana, sans-serif;
	font-size: 12px;
	letter-spacing: 1.1px;
	background: none;
	user-select: text;
	font-weight: bold;
}

input.ui-input.ui-input-helper{
	margin: 0;
	margin-top: 2px;
	padding-left: 10px;
}
.ui-preview{
	z-index: 10;
	background: 50% no-repeat rgba(100,100,100,100.9);
	border: solid 1px rgba(0,0,0,0.5);
}

.ui-panel.toolbox{
	margin: 0;
}


.tool.active{
	background-color: rgba(0,0,0,0.8) !important;
}
.tool.select{
	border-right: 1px solid rgba(255,255,255,0.1);
	background: url("../img/tools/select.png")  no-repeat 50%;
}
.tool.move{
	border-right: 1px solid rgba(255,255,255,0.1);
	background: url("../img/tools/move.png")  no-repeat 50%;
}
.tool.brush{
	border-right: 1px solid rgba(255,255,255,0.1);
	background: url("../img/tools/brush.png")  no-repeat 50%;
}

.tool.text{
	border-right: 1px solid rgba(255,255,255,0.1);
	background: url("../img/tools/text.png")  no-repeat 50%;
}
.tool.stamp{
	border-right: 1px solid rgba(255,255,255,0.1);
	background: url("../img/tools/stamp.png")  no-repeat 50%;
}

.ui-button.datalink{
	padding: 0 5px;
	left: auto !important;
}

.ui-button.datalink:hover{
	-webkit-user-select: text !important;
	cursor: text;
}

body > div.ui-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
}

.ui-popup {
	margin: 0 auto;
	top: 30%;
	width: 50%;
	background-color: #282828;
	border: 1px solid #161616;
	max-height: 100%;
	padding: 0;
}
div.ui-popup-head {
	border-radius: 0;
	padding: 10px 0 8px;
	position: relative;
	text-align: center;
	font-size: 14px;
	cursor: default;
}
div.ui-popup-content {
	text-align: center;
	padding: 10px 10px 25px;
}
div.ui-popup .ui-popup-close{
	width: 28px;
	height: 28px;
	position: absolute;
	background-color: #fff;
	right: 0;
	top: 0;
	cursor: pointer;
}

.ui-popup-button{
position: absolute;
bottom: 0;
width: 200px;
height: 36px;
background-color: rgba(0,0,0,0.7);
color: #eee;
cursor: pointer;
line-height: 36px;
font-weight: bold;
margin-bottom: 4px;
}

.ui-popup.ui-has-buttons{
	padding-bottom: 20px;
}

div.ui-panel.text-tools{
border-top: 4px solid #fff;
}

div.ui-panel.text-tools .ui-button{
	background-color: rgba(255,255,255,0.5);

	
	width:34px;
	height:26px;
	line-height:26px;
	padding: 0 10px;
	opacity:0.7;
}

div.ui-panel.text-tools .ui-button:hover{
	background-color: rgba(255,255,255,0.4);

	padding: 0 10px;
}

div.ui-panel.text-tools .ui-button.text-font{
	width: 175px;
	
}
div.ui-panel.text-tools .ui-button.text-edit{
	background-image:url(../img/icons/textbar/10.png);
	background-position:center center;
	background-repeat:no-repeat;
	color:rgba(0,0,0,0);
}
div.ui-panel.text-tools .ui-button.text-color{
	background-image:url(../img/icons/textbar/09.png);
	background-position:center center;
	background-repeat:no-repeat;
	color:rgba(0,0,0,0);
}
div.ui-panel.text-tools .ui-button.text-right{
	background-image:url(../img/icons/textbar/08.png);
	background-position:center center;
	background-repeat:no-repeat;
	color:rgba(0,0,0,0);
}
div.ui-panel.text-tools .ui-button.text-center{
	background-image:url(../img/icons/textbar/07.png);
	background-position:center center;
	background-repeat:no-repeat;
	color:rgba(0,0,0,0);
}
div.ui-panel.text-tools .ui-button.text-left{
	background-image:url(../img/icons/textbar/06.png);
	background-position:center center;
	background-repeat:no-repeat;
	color:rgba(0,0,0,0);
}
div.ui-panel.text-tools .ui-button.text-wrap{
	background-image:url(../img/icons/textbar/05.png);
	background-position:center center;
	background-repeat:no-repeat;
	color:rgba(0,0,0,0);
}
div.ui-panel.text-tools .ui-button.text-italic{
	background-image:url(../img/icons/textbar/04.png);
	background-position:center center;
	background-repeat:no-repeat;
	color:rgba(0,0,0,0);
}
div.ui-panel.text-tools .ui-button.text-bold{
	background-image:url(../img/icons/textbar/03.png);
	background-position:center center;
	background-repeat:no-repeat;
	color:rgba(0,0,0,0);
}
div.ui-panel.text-tools .ui-button.text-size{
	background-image:url(../img/icons/textbar/01.png);
	background-position:center right;
	background-repeat:no-repeat;
	border-left:1px solid #fff;
	width:60px;
}
div.ui-panel.text-tools .ui-button.active{
	color: red;
	color:rgba(0,0,0,0);
	opacity:1;
}

div.ui-panel.text-tools div.ui-button.word-wrap-width-size{
	width: 75px;
}
div.ui-panel.text-tools div.ui-button.word-wrap-width-size:after{
	content: "px"
}

div.ui-colorpalette {
	background-color: rgba(33,33,33,0.95);
	padding: 10px;
	box-shadow: inset 0px -41px 163px 44px rgba(255,255,255,0.1);
}
div.ui-colorpalette span.ui-colorpalette-node{
	display: inline-block;
	width: 19px;
	height: 18px;
	padding: 1px;
	margin: 0px;
	background-clip: content-box;
}
div.ui-colorpalette span.ui-colorpalette-node:hover{
	border: solid 1px #000;
	cursor: pointer;
}
div.ui-colorpalette > div.seperator{
	height: 3px;
}

div.ui-text-colorpicker{
	background-color: rgba(33,33,33,0.9);
}
div.ui-text-colorpicker .ui-button{
	text-align: center;
	background-color: rgba(177,177,177,0.8);
	color: #222;
	width: 83px;
	line-height: 25px;
	border: solid 1px #333;
	font-weight: bold;
}
div.ui-text-colorpicker .ui-button.active{
	background-color: #333;
	color: #eee;
	border-bottom: solid 2px #313131;
}
div.ui-text-colorpicker div.ui-input{
	min-height: 20px;
	border-top: dashed 1px rgba(255,255,255,0.1);
	border-bottom: none;
}


