<!DOCTYPE html>
<html>
<head>
	<title>%title%</title>
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	
	<!--	if you are using google fonts and want to prevent font flickering 
			e.g. for font family "Indie Flower" uncomment this code 
			you might also want to set additional encoding by replacing "latin"
	-->
	<!-- 
	<script type="text/javascript">
		WebFontConfig = {
			google: { families: [ "Indie+Flower::latin" ] }
		};
		(function() {
			var wf = document.createElement('script');
			wf.src = '//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();
	</script>
	-->
	
	<script type="text/javascript" src="js/lib/phaser.min.js"></script>
	<script type="text/javascript" src="js/lib/mt.helper.js"></script>
	<script type="text/javascript" src="js/lib/mt.data.js"></script>
	
	<script type="text/javascript" src="js/main.js"></script>
	
	<!-- TODO: make scripts load autoamtically -->
	<script type="text/javascript" src="js/state/boot.js"></script>
	<script type="text/javascript" src="js/state/load.js"></script>
	<script type="text/javascript" src="js/state/menu.js"></script>
	<script type="text/javascript" src="js/state/play.js"></script>
	<script type="text/javascript" src="js/state/demo.js"></script>
</head>
<body></body>
</html>